
header {
    background-color: #b4abd6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    border-radius: 30px;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #c29de8;
    margin: 5px 0;
  }
  
  
  .product-showcase {
    padding: 40px;
  }
  
  .slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .product {
    background-color: #9996a9;
    padding: 20px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  

  .search {
    background-color: #cccbe2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  footer {
    background-color: #af9fc8;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .social-media-icons a {
    margin-right: 10px;
  }
  
  .social-media-icons img {
    width: 20px;
    height: 20px;
  }
  
  @media (max-width: 768px) {
    .navigation {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .slider {
      grid-template-columns: repeat(3, 1fr);
    }
  }